body{
    width: 1200px;
    margin: auto;
}

header{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1:nth-child(1){
    margin-top: 1px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: x-large;
    border-radius: 10px;
    padding: 5px;
}

header nav a:hover{
    color: white;
    background-color: grey;
}

.skillratingMain{
    padding:5px 30px;
    background-color: rgb(235, 235, 235);
    padding-bottom: 50px;
    
}

footer p{
    padding: 10px;
    background-color: darkslategray;
    color:white;
    text-align:center;
    font-size: large;
}
.skillratingMain table{
    width: 800px;
    font-size: 1.25em;
    margin: 0px 150px;
}
.skillratingMain table, .skillratingMain td, .skillratingMain th{
    border: 2px solid rgb(125, 125, 125);
    border-collapse: collapse;
}
.skillratingMain th, .skillratingMain td{
    padding: 20px 10px;
    background-color: white;
}
.skillratingMain th{
    text-align: left;
    background-color: rgb(213, 213, 213);
}
.skillratingMain table tbody tr td:nth-child(2){
    color: rgb(197, 197, 35);
    font-size: 1.5em;
    font-weight:bolder;
}
.skillratingMain h1:nth-child(1){
    margin: 0px 150px;
    padding-top: 75px;
}