h1{
    color: green;
}
h2{
    background-color: antiquewhite;
}
h3{
    border: 1px solid red;
}
@media (min-width:500px){

    h1{
        color: blue;
    }
}
@media (max-width:500px){

    h2{
        background-color: red;
    }
}
@media (min-width:500px) and (max-width:700px){

    h3{
        border: 3px solid blue;
        background-color: aquamarine;
    }
}