/* Adam Caputo 8887477 */
body{
    width: 1200px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font: 16px medium,'Trebuchet MS';
}
header, footer{
    border: 2px solid gold;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: blanchedalmond;
}
h1, h2{
    color: rgb(189, 151, 95);
    font-variant: small-caps;
}
body footer p{
    font-size: smaller;
    color: rgb(138, 76, 0);
}
main{
    float: left;
    width: 651px;
    padding: 20px;
    margin: 15px;
    height: 1400px;
}
aside{
    float: left;
    width: 33%;
    border: 2px solid gold;
    padding: 20px;
    margin: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 1400px;
    border-radius: 7px;
    background-color: rgb(254, 246, 234);
}
footer{
    clear: both;
}
.mainimg{
    width: 100%;
    border: 4px solid gold;
    border-radius: 7px;
}
main section figure figcaption{
    font-variant: small-caps;
    font-weight: bold;
}
main section q{
    font-family: cursive;
    font-style: italic;
    font-size: large;
}
aside ul li{
    list-style: none;
    line-height: 30px;
}
aside ul li > a{
    text-decoration: none;
    color: rgb(237, 52, 52);
}
a:hover{
    color: gold
}